/*     body    */
body {
    font-family: "Ubuntu", sans-serif;
}

/*    header    */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

header {
    background-color: #284069;
    padding: 53px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 54px;
    height: 54px;
    /* border-radius: 10px; */
}

.logo-icon {
    width: 100%;
    height: 100%;
}

.header-ul {
    display: flex;
    column-gap: 50px;
}

.active {
    color: #F56013;

}

.inactive {
    color: #DDEAF8;
}

.inactive,
.active {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 24px;

}