/*     body    */
body {
    font-family: "Ubuntu", sans-serif;
}

/*    header    */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

header {
    background-color: #284069;
    padding: 53px 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    width: 54px;
    height: 54px;
    /* border-radius: 10px; */
}

.logo-icon {
    width: 100%;
    height: 100%;
}

.header-ul {
    display: flex;
    column-gap: 50px;
}

.active {
    color: #F56013;

}

.inactive {
    color: #DDEAF8;
}

.inactive,
.active {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 24px;

}

/*       section        */
section {
    display: flex;
    flex-direction: column;
    background-color: #DDEAF8;
    /* padding: 98px 94px; */
    padding-bottom: 94px;
}

h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #F56013;
    padding: 94px 1110px 54px 98px;
}

/*       articles     */

.cards-section {
    display: flex;
    flex-wrap: wrap;
    gap: 22px 30px;
    justify-content: center;
}

.card {
    display: flex;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
    height: 354px;
    flex-direction: column;
}

button {
    width: 145px;
    height: 44px;
    border-radius: 10px;
    margin-top: auto;
    border: none;
    background-color: #F56013;
    color: #FFFFFF;
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    align-self: flex-end;
}


/*     footer     */
footer {
    display: flex;
    flex-direction: column;
    background-color: #284069;
    padding: 48px 0;
    align-items: center;
}

h2 {
    font-family: Ubuntu;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-bottom: 25px;
    padding-top: 48px;
}

.footer-ul {
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
    padding-bottom: 48px;
}